body, html {
  height: 100%;
}

.player-car, .opponent-car {
  position: absolute;
  z-index: 10;
}

body {
  background-color: black;
}

.car-game {
  position: relative;
  height: 655px;
  overflow: hidden;
  width: 704px;
  margin: auto;
}

.score-container, .ammo-box, .new-game, .menu-button {
  position: absolute;
  z-index: 10;
  font-size: 16px;
  font-weight: 900;
  padding: 5px;
  min-width: 140px;
}

.score-container, .ammo-box {
  color: red;
  background-color: black;
}

.new-game, .menu-button {
  color: white;
  background-color: red;
  cursor: pointer;
}

.new-game:hover, .menu-button:hover {
  color: white;
  background-color: black;
}

.ammo-box {
  top: 480px;
  right: 6px;
}

.score-container {
  top: 30px;
  left: 6px;
}

.new-game {
  top: 30px;
  right: 6px;
}

.menu-button {
  top: 80px;
  right: 6px;
}

.hi-score {
  padding-top: 10px;
}

.game-over {
  position: absolute;
  color: red;
  z-index: 10;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  background-color: black;
  padding: 10px 20px;
  left: 31.9091%;
  top: 150px;
}

.bullet {
  height: 15px;
  width: 15px;
  background: url("../images/bullet.png") no-repeat;
  background-size: contain;
}
